<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>


  <!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
  <!--
      <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
          <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
              <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
              <maxHistory>90</maxHistory>
          </rollingPolicy>
          <encoder>
              <charset>utf-8</charset>
              <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
          </encoder>
      </appender>

      <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
          <queueSize>512</queueSize>
          <appender-ref ref="FILE"/>
      </appender>

      <root level="${logging.level.root}">
          <appender-ref ref="ASYNC"/>
      </root>
  -->

  <logger level="WARN" name="org.postgresql"/>
  <logger level="WARN" name="org.springframework"/>
  <logger level="WARN" name="org.springframework.web"/>
  <logger level="DEBUG" name="ru.rgordeev.tkinvest"/>
  <property name="CONSOLE_LOG_PATTERN"
    value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %crlf(%m){red} %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
  <property name="FILE_LOG_PATTERN"
    value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %crlf(%m) %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>
